@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    font-family:'Roboto', sans-serif;
    background-color: #F2F2F2;
}

.container {
    margin: auto;
    width: 1180px;
    height: 596px;
    text-align: center;
    background-color: white;
}

h1 {
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 32px;
}

.inf {
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    padding-top: 30px;
    margin: auto;
    font-size: 16px;
    text-align: center;
    width:600px;
}

hr {
    border-top: 1px solid #E5E5E5;
    
}

th, td {
    padding: 0px 24px 24px 24px;
 }

.transaction {
    margin: auto;
}

.notification {
    margin: 0;
    line-height: 24px;
    font-kerning: auto ;
    width: 600;
}

.prim-but {
    margin-top: 54px;
    margin-bottom: 54px;
    padding: 16px 32px 16px;
    border:none;
    color:#BFBFBF;
    font-size: 16px;
}

.prim-but:hover {
    background-color: #C9F73A;
    color:black
}

footer{
    height: 96px;
}
.services {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
    width: 100;
    margin-top: 32px;
    
}

h4 {
    line-height: 2px;
    font-weight: 300;
    font-size: 16px;
    margin-left: -100px;
    color: #808080;
    margin-bottom: 3px;
    margin-top: 14px;
    
}